In [3]:
import pandas as pd

In [5]:
df=pd.read_csv("large_sample_data.csv")
df.head()

   ID      Name   Age  Gender    Income      City
0   1  Person_1  56.0    Male   59241.0  New York
1   2  Person_2  46.0  Female  126214.0   Houston
2   3  Person_3  32.0  Female   74569.0   Chicago
3   4  Person_4   NaN  Female   41745.0   Phoenix
4   5  Person_5  25.0    Male       NaN   Houston

In [7]:
df.shape

(1000, 6)

In [9]:
df.isnull().sum()

ID          0
Name        0
Age        94
Gender      0
Income    103
City      102
dtype: int64

In [11]:
df['Age'].fillna(df['Age'].mean(), inplace=True)

C:\Users\Diyanjali\AppData\Local\Temp\ipykernel_147868\1698716155.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)

In [13]:
df.isnull().sum()

ID          0
Name        0
Age         0
Gender      0
Income    103
City      102
dtype: int64

In [15]:
df['Income'].fillna(df['Income'].median(), inplace=True)

C:\Users\Diyanjali\AppData\Local\Temp\ipykernel_147868\1959487941.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Income'].fillna(df['Income'].median(), inplace=True)

In [17]:
df.isnull().sum()

ID          0
Name        0
Age         0
Gender      0
Income      0
City      102
dtype: int64

In [19]:
df['City'].fillna(df['City'].mode()[0], inplace=True)

C:\Users\Diyanjali\AppData\Local\Temp\ipykernel_147868\1488218936.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna(df['City'].mode()[0], inplace=True)

In [21]:
df.isnull().sum()

ID        0
Name      0
Age       0
Gender    0
Income    0
City      0
dtype: int64

In [23]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['Gender'] = encoder.fit_transform(df['Gender'])
print(df)

       ID         Name        Age  Gender    Income         City
0       1     Person_1  56.000000       1   59241.0     New York
1       2     Person_2  46.000000       0  126214.0      Houston
2       3     Person_3  32.000000       0   74569.0      Chicago
3       4     Person_4  41.083885       0   41745.0      Phoenix
4       5     Person_5  25.000000       1   90576.0      Houston
..    ...          ...        ...     ...       ...          ...
995   996   Person_996  41.083885       1   83420.0  Los Angeles
996   997   Person_997  40.000000       1   30671.0      Houston
997   998   Person_998  27.000000       0   30163.0      Chicago
998   999   Person_999  61.000000       1   71424.0      Chicago
999  1000  Person_1000  19.000000       1  139538.0      Chicago

[1000 rows x 6 columns]

In [25]:
encoder = LabelEncoder()
df['City'] = encoder.fit_transform(df['City'])
print(df)

       ID         Name        Age  Gender    Income  City
0       1     Person_1  56.000000       1   59241.0     3
1       2     Person_2  46.000000       0  126214.0     1
2       3     Person_3  32.000000       0   74569.0     0
3       4     Person_4  41.083885       0   41745.0     4
4       5     Person_5  25.000000       1   90576.0     1
..    ...          ...        ...     ...       ...   ...
995   996   Person_996  41.083885       1   83420.0     2
996   997   Person_997  40.000000       1   30671.0     1
997   998   Person_998  27.000000       0   30163.0     0
998   999   Person_999  61.000000       1   71424.0     0
999  1000  Person_1000  19.000000       1  139538.0     0

[1000 rows x 6 columns]

In [27]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
x=df[["ID","Age","Gender","Income","City"]]
x_scaled=scaler.fit_transform(x)

In [29]:
x_scaled

array([[-1.73031962,  1.1595269 ,  0.9492843 , -0.95145783,  0.8203639 ],
       [-1.72685552,  0.38216167, -1.05342519,  1.08009236, -0.52449495],
       [-1.72339142, -0.70614965, -1.05342519, -0.48650029, -1.19692438],
       ...,
       [ 1.72339142, -1.09483227, -1.05342519, -1.83350606, -1.19692438],
       [ 1.72685552,  1.54820952,  0.9492843 , -0.5819003 , -1.19692438],
       [ 1.73031962, -1.71672445,  0.9492843 ,  1.48426082, -1.19692438]])

In [31]:
 from sklearn.preprocessing import MinMaxScaler

 scaler=MinMaxScaler()
 x=df[["ID","Age","Gender","Income","City"]]
 x_scaled=scaler.fit_transform(x)

In [33]:
x_scaled

array([[0.        , 0.82608696, 1.        , 0.24268879, 0.75      ],
       [0.001001  , 0.60869565, 0.        , 0.8016542 , 0.25      ],
       [0.002002  , 0.30434783, 0.        , 0.37061828, 0.        ],
       ...,
       [0.997998  , 0.19565217, 0.        , 0.        , 0.        ],
       [0.998999  , 0.93478261, 1.        , 0.3443697 , 0.        ],
       [1.        , 0.02173913, 1.        , 0.91285805, 0.        ]])