In [5]:
import pandas as pd
data={'category':['A','B','A','B','A'],
      'value':[10,20,30,40,50]}
df=pd.DataFrame(data)
grouped=df.groupby('category')['value'].sum()
print(grouped)

category
A    90
B    60
Name: value, dtype: int64

In [7]:
import pandas as pd
df1=pd.DataFrame({'A':[1,2],'B':[3,4]})
df2=pd.DataFrame({'A':[5,6],'B':[7,8]})
result=pd.concat([df1,df2],axis=0)
print(result)

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

In [9]:
result=pd.concat([df1,df2],axis=1)
print(result)

   A  B  A  B
0  1  3  5  7
1  2  4  6  8

In [11]:
import pandas as pd
df3=pd.DataFrame({'ID':[1,2,3],'Name':['Alice','Bob','Charlie']})
df4=pd.DataFrame({'ID':[2,3,4],'Age':[24,25,26]})
merged=pd.merge(df3,df4,on='ID')
print(merged)

   ID     Name  Age
0   2      Bob   24
1   3  Charlie   25